$main-dark: #FF825A;
$main: #FFB596;
$main-light: #FFDACA;
$main-lighter: #FFF2EE;
$main-white: #FFF9F4;
$white: #ffffff;


$danger: #FF6565;
$danger-light: #FF9595;
$success: #59F169;
$success-light: #BFFFC9;


$black: #2B2B2B;
$black-light: #3D3D3D;