@import "../colors";
@import "../mixins";

.header {
  display: flex;
  flex-direction: row;
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  @include double-gradient(90deg, $main, $main-dark);

  &-logo{
    background: $main-white;
    padding: 15px;
    border-radius: 20px;
    > img {
      width: 100px;
      height: 100px;
    }
  }

  &-name {
    width: 65%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: $main-white;
    > h1 {
      margin: 0;
    }
  }
  &-user {
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    &-button {
      background-color: $main-lighter;
      border-radius: 13px;
      font-size: 1.3rem;
      color: $black;
      padding: 10px;
      border: none;
      font-weight: bold;
      margin: 10px;
      cursor: pointer;
      text-align: center;
      height: 45px;
      img {
        width: 25px;
        height: 25px;
        display: block;
      }
    }
  }
}