<!-- backend/templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React Django App</title>
    <!-- Załaduj plik CSS z aplikacji React -->
    <!--<link rel="stylesheet" href="{% static 'main.css' %}">-->
</head>
<body>
    <!-- Załaduj plik JavaScript z aplikacji React -->
    <div id="root"></div>
    <!--{% staticfiles %}
    <script src="{% static 'main.js' %}"></script>-->
</body>
</html>
